@import "tailwindcss";

.Toastify__toast--error {
    background: #ff3333 !important;
    color: white !important;
    border: 1px solid #fecaca !important;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    font-weight: 500;
    backdrop-filter: blur(20px);
}

.Toastify__close-button {
    color: rgb(247, 247, 247);
    opacity: 0.8;
}

.Toastify__progress-bar--error {
    background: #ffffff !important;
}

.Toastify__toast-icon svg {
    fill: #ffffff !important;
    color: #ffffff !important;
}

/* Success Toast */
.Toastify__toast--success {
    background: #16a34a !important;
    color: #fff !important;
    border: 1px solid #22c55e !important;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    font-weight: 500;
}

.Toastify__toast--success .Toastify__toast-icon {
    color: #fff !important;
}

.Toastify__progress-bar--success {
    background: #fff !important;
}

/* Warning Toast */
.Toastify__toast--warning {
    background: #f59e0b !important;
    color: #fff !important;
    border: 1px solid #fbbf24 !important;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    font-weight: 500;
}

.Toastify__toast--warning .Toastify__toast-icon {
    color: #fff !important;
}

.Toastify__progress-bar--warning {
    background: #fff !important;
}